body {
    padding-top: 30px;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
}

#circleGreen {
    color: rgb(8, 165, 8);
}

#circleRed {
    color: rgb(223, 13, 23);
}

.player-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 3px solid rgb(88, 19, 19);
}

.box {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi {
    font-size: 80px;
    cursor: pointer;
}