body {
    padding-top: 30px;
}

.game-area {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: max-content;
    margin: 0 auto;
    border: 3px solid rgb(88, 19, 19);
}

.box {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi {
    font-size: 80px;
    color: rgba(167, 8, 8, 0.719);
    cursor: pointer;
}

